<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="cancel()">
		&times;
	</button>
	<h4 class="modal-title">Edit Menu Item</h4>
</div>
<div class="modal-body">
	<form role="form" class="form">
		<label for="mi_name">Title</label>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Name" id="mi_name" ng-model="t_item.name" />
		</div>
		<label for="mi_desc">Description</label>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Description" id="mi_desc" ng-model="t_item.description" />
		</div>
		<label for="mi_price">Price</label>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Price" id="mi_price" ng-model="t_item.price" />
		</div>
		<label for="mi_pict">Picture</label>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Picture" id="mi_pict" ng-model="t_item.picture" />
		</div>
		<label for="mi_allrg">Allergy Information</label>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Allergy Information" id="mi_allrg" ng-model="t_item.allergy" />
		</div>
		<label for="mi_cal">Calories</label>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Calories" id="mi_cal" ng-model="t_item.calories" />
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-lg" btn-checkbox tooltip="Spicy" tooltip-placement="bottom" ng-model="t_item.spicy" ng-class="{'btn-info': t_item.spicy}">
				<i class="fa fa-fw fa-fire"></i>
			</button>
			<button type="button" class="btn btn-primary btn-lg" btn-checkbox tooltip="Vegetarian" tooltip-placement="bottom" ng-model="t_item.vegetarian" ng-class="{'btn-info': t_item.vegetarian}">
				<i class="fa fa-fw fa-leaf"></i>
			</button>
			<button type="button" class="btn btn-primary btn-lg" btn-checkbox tooltip="Gluten Free" tooltip-placement="bottom" ng-model="t_item.gfree" ng-class="{'btn-info': t_item.gfree}">
				<i class="fa fa-fw fa-lemon-o"></i>
			</button>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary btn-lg" ng-click="saveItem()">
		<i class="fa fa-save"></i> Save
	</button>
	<button type="button" class="btn btn-primary btn-lg" ng-click="cancel()">
		<i class="fa fa-times"></i> Cancel
	</button>
</div>
