<div class="cart panel col-lg-4 col-md-4 color2bord" ng-controller="cCartCtrl" ng-show="credentials.cart.showCart">
	<form role="form" class="form-inline">
		<div class="panel-heading">
			My Cart
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Custom</th>
						<th>Price</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in credentials.cart.items">
						<td>{{$index + 1}}</td>
						<td>{{i.name}}</td>
						<td>{{i.custom == null ? 'No' : 'Yes'}}</td>
						<td>{{i.price}}</td>
						<td>
							<button type="button" class="btn btn-primary btn-xs" ng-click="credentials.cart.items.splice($index,1)"><i class="fa fa-times"></i></button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="4">Total:</th>
						<th>{{cartTotal()}}</th>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="panel-footer text-right">
			<button type="button" class="btn btn-primary btn-lg">
				<i class="fa fa-times"></i> Close My Cart
			</button>
			<button type="button" class="btn btn-primary btn-lg">
				<i class="fa fa-shopping-cart"></i> Place My Order
			</button>
		</div>
	</form>
</div>